<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>E-Hentai Downloader</title>
        <link rel="stylesheet" type="text/css" href="main.css">
        <script src="hacks.js"></script>
        <script src="vue.js"></script>
    </head>

    <body>
        <div id="ehD">
            <fieldset id="ehD-box">
                <legend id="ehD-title">E-Hentai Downloader</legend>
                <div class="flex">
                    <label for="ehD-url">URL: </label>
                    <input type="text" id="ehD-url" v-model.lazy.trim="url" class="wide" placeholder="http://g.e-hentai.org/g/123456/abcdef1234/">
                </div>
                <div class="g2">
                    <img src="mr.gif">
                    <a id="ehD-start" v-on:click="start">Download Archive</a>
                </div>
                <div class="g2">
                    <img src="mr.gif">
                    <label for="ehD-range">Pages Range</label>
                    <input type="text" id="ehD-range" v-model.lazy.trim="range" placeholder="eg. -10,12,14-20,27,30-">
                </div>
                <div class="g2">
                    <img src="mr.gif">
                    <input type="checkbox" id="ehD-proxy" v-model="proxy">
                    <label for="ehD-proxy">Assign Proxy</label>
                </div>
                <div class="flex" v-if="proxy">
                    <label for="ehD-proxy-uri">Proxy URI: </label>
                    <input type="text" id="ehD-proxy-uri" v-model.lazy.trim="proxyUri" class="wide">
                </div>
            </fieldset>
            <div id="ehD-setting">
                <div class="g2">
                    <label class="flex">Cookie:
                    <input type="text" v-model.lazy.trim="cookie" placeholder="ipb_member_id=xxx; ipb_pass_hash=xxx; igneous=xxx" class="wide"></label>
                </div>
                <div class="g2">
                    <label>Download
                        <input type="number" v-model.lazy.number="threadCountRaw" min="1" placeholder="5" class="narrow">images at the same time (&lt;=5 is advised)</label>
                </div>
                <div class="g2">
                    <label>Abort fetching current image after
                        <input type="number" v-model.lazy.number="timeout" min="0" placeholder="300" class="narrow">second(s) (0 is never abort)</label>
                </div>
                <div class="g2">
                    <label>Skip current image when retried
                        <input type="number" v-model.lazy.number="retryCount" min="1" placeholder="3" class="narrow">time(s)</label>
                </div>
                <div class="g2">
                    <label>Set folder name as
                        <input type="text" v-model.lazy.trim="dirNameRaw" placeholder="{gid}_{token}"> *</label>
                </div>
                <div class="g2">
                    <label>
                        <input type="checkbox" v-model="numberImages">Number images (001：01.jpg, 002：01_theme.jpg, 003：02.jpg...) <span v-if="numberImages">(Separator
                    <input type="text" v-model.lazy.trim="numberSeparatorRaw" class="narrow" placeholder="：">)</span></label>
                </div>
                <div class="g2">
                    <label>
                        <input type="checkbox" v-model="numberRealIndex">Number images with original page number if pages range is set</label>
                </div>
                <div class="g2">
                    <label>
                        <input type="checkbox" v-model="forceResized">Force download resized image (never download original image) **</label>
                </div>
                <div class="g2">
                    <label>
                        <input type="checkbox" v-model="neverNewUrl">Never get new image URL when failed downloading image **</label>
                </div>
                <div class="g2">
                    <label>
                        <input type="checkbox" v-model="neverSendNl">Never send "nl" GET parameter when getting new image URL **</label>
                </div>
                <div class="g2">* Enabled tags:
                    <span title="You can find GID and token at the address bar like this: exhentai.org/g/[GID]/[Token]/">{gid} Archive's GID</span> |
                    <span title="You can find GID and token at the address bar like this: exhentai.org/g/[GID]/[Token]/">{token} Archive's token</span> |
                    <span title="This title is the English title or Latin transliteration, you can find it as the first line of the title.">{title} Archive's title</span> |
                    <span title="This title is the original language title, you can find it as the second line of the title.">{subtitle} Archive's sub-title</span> |
                    <span title="This tag means the sort name of the archive, and its output string is upper.">{tag} Archive's tag</span> |
                    <span title="You can find it at the left of the archive page.">{uploader} Archive's uploader</span>
                </div>
                <div class="g2">** Enable these options may save your image viewing limits
                    <a href="https://github.com/ccloli/E-Hentai-Downloader/wiki/E%E2%88%92Hentai-Image-Viewing-Limits" target="_blank" class="see_wiki">(See wiki)</a>, but may also cause some download problems.</div>
                <div class="center">
                    <button id="save" v-on:click="save">Save</button>
                    <button id="cancel" v-on:click="cancel">Default</button>
                    <button id="exit" v-on:click="exit">Exit</button>
                </div>
            </div>
            <div id="ehD-dialog" v-if="contents.length">
                <template v-for="content of contents">
                    <span v-if="typeof content === 'string'" class="ehD-content">{{content}}</span>
                    <table v-else-if="Array.isArray(content)" class="ehD-pt-table" v-for="item of content">
                        <tr v-bind:class="['ehD-pt-item', item.className]">
                            <td class="ehD-pt-name">#{{item.realIndex}}: {{item.imageName}}</td>
                            <td class="ehD-pt-progress-outer">
                                <progress class="ehD-pt-progress" v-if="item.progress !== -1" v-bind:value="item.progress"></progress>
                                <progress class="ehD-pt-progress" v-else></progress>
                                <span class="ehD-pt-progress-text">{{item.progressText}}</span>
                            </td>
                            <td class="ehD-pt-status">{{item.status}}</td>
                        </tr>
                    </table>
                    <button v-else v-on:click="content.onclick()">{{content.text}}</button>
                </template>
            </div>
        </div>
        <script src="main.js"></script>
    </body>

</html>
